@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    We offer the most popular brands and the most modern footwear models.
    
</p>
<p>The most important thing for us is professionalism, we focus on what we do best - online footwear sales.</p>
