@{
    ViewBag.Title = "Home Page";
}

@*<div>
    <h1 class="text-lg-left"></h1>


    <p class="text-lg-left text-justify">Here you can find the perfect shoes</p>
    <p><a href="https://asp.net" class="btn btn-success btn-lg">Find it! &raquo;</a></p>

</div>*@



<div class="row">
    <div class="col-md-4">
        <h2> Our Mission</h2>
        <p>
            We offer the most popular brands and the most modern footwear models.
            The most important thing for us is professionalism, we focus on what we do best - online footwear sales.
        </p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Safe, fast, comfortable
        </h2>
        <p>
            Free delivery and return.
            Up to 30 days
            for return.
        </p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Over 100 brands</h2>
        <p>
            Different brands:
            Adidas, Nike, Geox, Reebook, NB, Tommy Hilfiger, Ecco and more.
        </p>
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">Look &raquo;</a></p>
    </div>
</div>
